html{
    height: 100%;
}

body {
    height: 100%;
    background-color: #202020;
    font-size: 12px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #aaaaaa;
    text-align: center;
}

#cv {
    display: block;
    margin: auto;

    /* curseur */
    cursor: url("Ressources/curseur.png") 32 32, pointer;
}

a{
    color: #aaaaaa;
}

.piedpage{
    position: fixed;
    bottom: 10px;
    right: 0;
    left: 0;

    border-top-color: #aaaaaa;
    border-top-style: solid;
    border-top-width: 1px;
}
